**/.DS_Store
eeg-signal-classification/__pycache__/
eeg-signal-classification/catboost_info/
eeg-signal-classification/mlruns

.venv/
notebooks/
models/catboost/
data/raw
/data
/models

result/*
!result/.gitkeep
